/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

:root {
    --red:rgb(211, 0, 0);
}

@font-face {
    font-family: 'geomanistregular';
    src: url('./fonts/Geomanist-Regular-Webfont/geomanist-regular-webfont.eot');
    src: url('./fonts/Geomanist-Regular-Webfont/geomanist-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Geomanist-Regular-Webfont/geomanist-regular-webfont.woff2') format('woff2'),
         url('./fonts/Geomanist-Regular-Webfont/geomanist-regular-webfont.woff') format('woff'),
         url('./fonts/Geomanist-Regular-Webfont/geomanist-regular-webfont.ttf') format('truetype'),
         url('./fonts/Geomanist-Regular-Webfont/geomanist-regular-webfont.svg#geomanistregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'geomanistregular', Helvetica, sans-serif;
}

ol, ul {
    list-style: none;
}

ul {
    margin-bottom: 1.5em;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table{
    margin: 0 auto;
    font-size:20px;
    border-collapse: collapse;
    border-spacing: 0;
}

button, input[type="submit"]{
    background-color:white;
    cursor:pointer;
    border: none;
    border-radius:5px;
    font-family: 'geomanistregular', Helvetica, sans-serif;
}

.top{
    position:relative;
    background-color: var(--red);
    height: 50px;
    border-bottom:solid 1px darkred;
    line-height: 50px;
}

.top button{
    position: relative;
    border-bottom: solid white 2px;
    border-radius: 0px;
    top: 50%;
    padding: 5px;
    margin: 0 5px;
    font-size: 19px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: linear-gradient(to left, var(--red) 50%, white 50%) right;
    background-size: 201%;
    color:white;
    transition: .25s ease-out;
}

.top a{
    text-decoration: none;   
}

#nomSite{
    position:relative;
    color:white;
    font-weight: bold;
    height: 40px;
    width: 250px;
    font-size:25px;
    vertical-align: middle;
    
}

#logoSite{
    width:40px;
    height: 40px;
    vertical-align: middle;
    margin:5px;
    margin-top:1px;
}

.monVeloInfos{
    position:relative;
    margin:25px auto;
    margin-bottom: 75px;
    width: 80%;
    height:75%;

    line-height: 50px;
    text-align: center;
    
    border:solid 2px var(--red);
    border-top-right-radius: 7px;
    border-top:none;
}

.monVeloInfos table{
    font-size: 15px;
}

.monVeloInfos td{
    height: 50px;
    width: 250px;
    margin:5px;
}

.monVeloInfos tr:first-child{
    font-size: 18px;
    font-weight: bold;
}

.monVeloInfos button{
    border:none;
}

.monVeloInfos .bottom{
    border-top:solid 2px var(--red);
    font-weight: bold;
    font-size: 25px;
}

.bottom{
    background-color: var(--red);
    color:white;
    padding: 5px 0;
}

.bottom button {
    margin:5px;
    border-bottom: solid 2px white;
    border-radius: 0;
    font-size: 18px;
    background: linear-gradient(to left, var(--red) 50%, white 50%) right;
    background-size: 200%;
    color:white;
    transition: .25s ease-out;
}

.bottom button:hover, .top button:hover{
    background-position: left;
    color:black;
    border-radius: 2px;
}

.bottom a{
    background-color: white;
    border-radius: 2px;
    padding:5px;
    color:black;
    text-decoration: none;
}

.monVeloInfos .infoAchat{
    border:solid 2px var(--red);
    background-color: var(--red);
    color:white;
}

.pieceSelected{
    width:220px;
    height: 300px;
    border: solid 2px black;
    border-radius: 7px;
    font-size: 15px;
    margin: 15px auto;
    transition: 0.25s ease-out;
    background-image: linear-gradient(135deg, white 60%, rgba(255, 0, 0, 0.452) 60.5%);
}

.pieceSelected h1, .piecePopup h1{
    position: relative;
    font-style: italic;
    font-weight: bold;
    height: 50px;
    padding:3px 4px;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    margin: auto;
    border-bottom: solid black 2px;
}

.pieceSelected table, .pieceSelected tr:first-child, .pieceSelected td, .piecePopup table, .piecePopup tr:first-child, .piecePopup td{
    border:none;
    font-weight: bold;
    font-size: 22px;
}

.pieceSelected button, .piecePopup button{
    font-size: 25px;
    font-weight: lighter;
    border: solid 1px black;
}

.pieceSelected:hover{
    border: solid 2px var(--red);
    width:230px;
    height: 315px;
}

.pieceSelected img, .piecePopup img{
    border-radius: 7px;
    width: 100px;
    height: 100px;
    margin: 10px auto;
    display: block;
    border: solid 2px var(--red);
}

#infoSite{
    position:relative;
    width: 150px;
    height: 25px;
    font-size: 15px;
    background-color: white;
    margin:2px auto;
    border-radius: 2px;
    border: solid 1px black;
    line-height: 25px;
    transition: background-color 500ms;
    transition: color 500ms;
}

#infoSite:hover{
    background-color:rgba(0,0,0);
    color:white;
}

#infoSite a{
    text-decoration: inherit;
    color:inherit;
}

.monVeloImage{
    position:relative;
    margin:15px auto;

    height: 500px;
    width: 80%;

    border:solid 2px var(--red);
    border-top-right-radius: 7px;
    border-top:none;

    overflow:auto;
}
.monVeloImage button{
    margin:5px;
}

.monVeloImage .bottom{
    position:absolute;
    bottom:0;

    height: 30px;
    width: 100%;
    margin:0;
    text-align: center;
    line-height: 35px;
    color:white;
}

#cadre{
    position:relative;
    margin:auto;
    height: 250px;
    width: 250px;
    top:100px;
}

#guidon{
    position:absolute;
    left:150px;
    height: 180px;
    width: 180px;
    top:40px;
}

#roueG{
    position:absolute;
    left:-100px;
    height: 200px;
    width: 200px;
    top:180px;
}

#roueD{
    position:absolute;
    left:180px;
    height: 200px;
    width: 200px;
    top:180px;
}

#selle{
    position:absolute;
    height: 120px;
    width: 120px;
    left:30px;
    top:120px;
}


#plateau{
    position:absolute;
    height: 100px;
    width: 100px;
    left:60px;
    top:210px;
}


#containerImage{
    position: relative;
    margin:auto;
    margin-top:15px;
    height: 200px;
    width: 200px;
}


.piece{
    position:relative;
    margin:4px;
}

.selectionPieces{
    width:350px;
    height:75%;
    float:left;
    margin:15px;

    line-height: 100px;
    
    border:solid 2px var(--red);
    border-top-right-radius: 7px;
    border-top:none;
}

.titreSection{
    position:relative;
        
    padding-left:5px;
    height: 25px;

    font-size: 20px;
    line-height: 25px;
    color:white;
    text-align: left;
    font-weight: bold;

    border-radius: 0 5px 0 0;
    background-color:var(--red);
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 60%; 
    background-color: rgb(0,0,0,0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: auto;
    padding: 15px;
    border: 1px solid #888;
    height: 100%;
    width: 100%;
    overflow:auto;
    
}

.popup-content h1{
    margin:5px;
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
}

#closePopup {
    color: #aaaaaa;
    position:absolute;
    right:5px;
    font-size: 35px;
    font-weight: bold;
  }
  
#closePopup:hover,
#closePopup:focus {
    color: #000;
    cursor: pointer;
}

.piecePopup{
    display:inline-block;
    width:20%;
    height:55%;
    margin:5px 5px;
    border: solid 2px black;
    border-radius: 5px;
    overflow:auto;
    cursor: pointer;
    transition: background-color 500ms;
}

.piecePopup:hover{
    background-color:rgba(255,0,0,0.75);
}

.piecePopup h1{
    margin-top:10px;
    font-size:15px;
    text-align: center;
}

.piecePopup table{
    font-size:12px;
}

.piecePopup tr{
    height:25px;
}

.piecePopup td {
    width:200px;
    text-align: center;
}

.selected{
    background-color: green;
}

.errMsg{
    color:red;

    position: absolute;
    bottom:55px;
    left: 0;
    right: 0;

    width:95%;

    margin:auto;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 2px;
}

.vosVelos{
    width: 250px;
    
    background-color: var(--red);
    border-radius: 2px;
    border-top:none;

    margin:10px auto;
    padding: 5px;

    color:white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.resumeVelo{
    position:relative;
    margin:15px auto;

    height: 250px;
    width: 80%;

    border:solid 2px var(--red);
    border-top-right-radius: 7px;
    border-top:none;

    overflow:auto;
}

.log{
    position: relative;
    text-align: center;
    margin: auto;
    font-size: 25px;
}

.log input[type="text"], input[type="password"]{
    all:unset;
    font-size: 20px;
    background-color: rgba(156, 156, 156, 0.25);
    border-radius: 2px 2px 0 0;
    border-bottom: solid 2px var(--red);
    width:200px;
    height: 28px;
}

.log a, .log input[type="submit"]{
    border-radius: 5px;
    padding:5px;
    color:white;
    text-decoration: none;
    background-color: var(--red);
}

form td, form input[type="submit"]{
    font-size: 22px;
    font-weight: normal;
    border-radius: 5px;
}