/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
}

ol, ul {
    list-style: none;
}

ul {
    margin-bottom: 1.5em;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table{
    margin: 0 auto;
    font-size:20px;
    border-collapse: collapse;
    border-spacing: 0;
}

button{
    background-color:white;
    cursor:pointer;
    font-weight: bold;
    border: solid 1px black;
    border-radius:5px;
}

.top{
    position:relative;
    background-color:red;
    height: 50px;
    border-bottom:solid 1px darkred;
    line-height: 50px;
}

.top button{
    position: relative;
    top: 50%;
    padding: 10px;
    margin: 0 5px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.top a{
    text-decoration: none;   
}

#nomSite{
    position:relative;
    color:white;
    font-weight: bold;
    height: 40px;
    width: 250px;
    font-size:25px;
    vertical-align: middle;
    
}

#logoSite{
    width:40px;
    height: 40px;
    vertical-align: middle;
    margin:5px;
    margin-top:1px;
}

.monVeloInfos{
    position:relative;
    margin:15px auto;

    width: 80%;
    height:75%;

    line-height: 50px;
    text-align: center;
    
    border:solid 2px red;
    border-top-right-radius: 7px;
    border-top:none;
}

.monVeloInfos table{
    font-size: 15px;
}

.monVeloInfos td{
    border-left: solid 2px red;
    border-right: solid 2px red;
    height: 50px;
    width: 250px;
    margin:5px;
}

.monVeloInfos tr:first-child{
    font-size: 18px;
    font-weight: bold;
}

.monVeloInfos button{
    border:none;
}


.pieceSelected{
    width:90%;
    border: solid 2px black;
    font-size: 15px;
    margin: 15px auto;
    transition: background-color 500ms;
}

.pieceSelected table, .pieceSelected tr:first-child, .pieceSelected td{
    border:none;
    font-weight: normal;
    font-size: inherit;
}

.pieceSelected:hover{
    background-color:rgba(255,0,0,0.25);
}

.pieceSelected img{
    background-color: red;
    width: 60%;
    height: 70px;
    margin: 10px auto;
    display: block;
}

.monVeloImage{
    position:relative;
    margin:auto;

    height: 300px;
    width: 80%;

    border:solid 2px red;
    border-top-right-radius: 7px;
    border-top:none;
}
.monVeloImage button{
    margin:5px;
}

.piece{
    position:relative;
    margin:4px;
}

.selectionPieces{
    width:350px;
    height:75%;
    float:left;
    margin:15px;

    line-height: 100px;
    
    border:solid 2px red;
    border-top-right-radius: 7px;
    border-top:none;
}

.titreSection{
    position:relative;
        
    padding-left:5px;
    height: 25px;

    line-height: 25px;
    color:white;
    text-align: left;
    font-weight: bold;

    border-radius: 0 5px 0 0;
    background-color:red;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 60%; 
    background-color: rgb(0,0,0,0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: auto;
    padding: 15px;
    border: 1px solid #888;
    height: 100%;
    overflow:auto;
}

.popup-content h1{
    margin:5px;
    font-size: 22px;
    font-weight: bold;
}

#closePopup {
    color: #aaaaaa;
    position:absolute;
    right:5px;
    font-size: 35px;
    font-weight: bold;
  }
  
#closePopup:hover,
#closePopup:focus {
    color: #000;
    cursor: pointer;
}

.piecePopup{
    display:inline-block;
    width:20%;
    height:48%;
    margin:0 5px;
    border: solid 2px black;
    border-radius: 5px;
    overflow:auto;
    cursor: pointer;
    transition: background-color 500ms;
}

.piecePopup:hover{
    background-color:rgba(255,0,0,0.25);
}

.piecePopup h1{
    margin-top:10px;
    font-size:15px;
    text-align: center;
}

.piecePopup img{
    width:60%;
    height: 40%;
    margin: 10px auto;
    display: block;
}
.piecePopup table{
    font-size:12px;
}

.piecePopup tr{
    height:25px;
}

.piecePopup td {
    width:200px;
    text-align: center;
}

.selected{
    background-color: green;
}